.softwareExample {
	margin-top: 10px;
	padding-top: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

.softwareExample .timeInfo h3, .softwareExample .timeInfo p{
}

.softwareExample .techUsed h3, .softwareExample .techUsed ul, .softwareExample .techUsed li, .softwareExample .techUsed p{
}

.projectType h3, .projectType p  {
}

.softwareExample .relatedLinks ul {
}

.softwareExample .relatedLinks li {
}


.infoTag {
}

.softwareExample .softwareSummary p{
}
