
#topHeader {
  padding-top: 20px;
  padding-bottom: 95px;
  margin-left: 30px;
  margin-right: 30px;
}

#topHeaderSpacer {
  height:120px;
}



#h1Name, #h1Subject {

}

#h1Name {

}

#h1Subject {

}
